.ResultsText A:link {text-decoration: none;color: #333333;}
.ResultsText A:visited {text-decoration: none;color: #aaaaaa;}
.ResultsText A:active {text-decoration: none;color: #aaaaaa;}
.ResultsText A:hover {text-decoration: none;color: #3399ff;}
