<html>
  <head><title>ThriftFish</title>
    <script type="text/javascript" src="/javascript/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.dateFormat-1.0.js"></script>
    <script type="text/javascript" src="/javascript/jquery-ui-1.7.custom.min-blurred.js"></script>
    <script type="text/javascript" src="/javascript/enter.js"></script>
    <script type="text/javascript" src="/javascript/user.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/home.css">
    <body>
      <img width="485" src="/static/images/fish.png" style="z-index:-1;postion:absolute;margin-bottom:-400px;margin-top:-300px" border="0"><Br> 
      <table><tr><td>
	    <p><div class="LogoText"><a href="http://www.thriftfish.com/"><img src="/static/images/Logo_7.png" border="0"></a></div></p>
	    <form action="/search" method="get" name="search">
	      <div class="BodyText">
		<input type="text" value="Search for an item" onclick="value='';" name="q" size="40" onKeyPress="checkEnter(event)">
		Price:
		<input type="text" value="Min" onclick="value='';" name="Min" style="width: 100px;" onKeyPress="checkEnter(event)">&nbsp;
		<input type="text" value="Max" onclick="value='';" name="Max" style="width: 100px;" onKeyPress="checkEnter(event)">
	      </div>
	      
	      <div class="BodyText">
		<input onclick="window.location='document.form[0].submit()" type="Submit" class="save_query" value="Search">
		<input onclick="javascript:saveThing(event)" type="button" class="save_query" value="Add this to My Wants">
		<font style="float: right">
		  City:
		  <input type="text" value="Pittsburgh" onclick="value='';" name="City" style="width: 214px;"  onKeyPress="checkEnter(event)">
		</font>
	      </div>
	    </form>
      </td></tr></table>


{%autoescape off%}
      
      
      
      <div class="HeaderText" style="text-align:right;margin-top:30px;color:aaaaaa;font-size:50;position:relative;z-index:1;width:950;">My Want List:</div>
      <div class="BodyText" style="text-align: left;margin-left: auto;margin-right: auto;width: 950;">

	<div id="accordion">
	  {% for q in querylist %}
	  <div class="stream_container-{{forloop.counter}}">
	    
	    <div class="stream">
	      <p class="ResultsText" style='background-color: {% cycle B8FFB8,C3EBFF %};'>
		{{ q.1 }} <span style="color:aaaaaa">in <b>{{ q.2 }}</b></span>
		  {% if q.4 %}
		  <span class="fresh-counter-{{ forloop.counter }}">
		    &nbsp;&nbsp;|&nbsp;&nbsp;<b class="counter-{{ forloop.counter }}">{{ q.4|length }}</b> fresh&nbsp;&nbsp;|&nbsp;&nbsp;
		    
		    <a href="" onclick="removeFresh({{ forloop.counter }}, $(this), '{{ q.3 }}')">(remove all)</a>
		  </span>
		    {% endif %}
		  
		  <span style="float: right">
		    <a href="" onclick="removeQuery('{{q.0}}', $('.stream_container-{{forloop.counter}}'));">
		      <img width="20" height="20" src='/static/images/close_x.gif' border="0">
		    </a>
		  </span>
	      </p>
	    </div>
	    
	   
	    
	    <div class="results-{{ forloop.counter }}">
	      

	      {% if q.4 %}
	      <div class="listings-{{ forloop.counter }}">    
		{% for e in q.4 %}
		<p class="ResultsText" style='margin-left: 0px;background-color: FFFFCC;' >
		  {{ forloop.counter}}. <a href="{{ e.2.link }}">{{ e.2.title }}</a>
		  &nbsp;&nbsp;|&nbsp;&nbsp;
		  <a href="" class="hideFresh" onclick="removeEntry({{ forloop.parentloop.counter }}, $(this), '{{ e.0 }}', '{{ e.1 }}');">(delete)</a>
	        </p>
	      {% endfor %}
	      </div>
	      
	      {% else %}
	      <p class="ResultsText" style="margin-left: 0px;background-color: FFFFCC;z" >
		<b>Sorry, there don't seem to be any fresh results right now</b>
	      </p>
	      {% endif %}
	      
	      
	    </div>
	    
	    
	  </div>
	  {% endfor %}
	</div>

	<div class="Footer"><a href="/about">About</a>&nbsp;|&nbsp;<a href="{{ url }}">{{ url_linktext }}</a>&nbsp;|&nbsp;<a href="mailto:rogercosseboom@gmail.com">Email</a></div>
	
	
      </div>
      
    </body>
</html>
{%endautoescape%}
